@charset "utf-8";
/* CSS Document */
@media (max-width : 1200px) {
 .finance-desk-body-banner img {
  height: 150px !important;
}

}
@media (max-width : 992px) {
/*	.centered-div{
	  width:90%;
	}*/
}
@media (min-width : 768px) and (max-width : 992px) {
.payroll-threeblocks-sub-div label{
	text-align:left !important;
} 
.body-bg {
	margin-bottom:47px !important;
}
}
@media (max-width : 768px) {
.body-bg {
	min-height: 768px;
}
/*.welcome-footer{
		padding:0;
	}*/
.view-button-spacings{
 margin:5px 5px !important;
}
.margin-right-left-zero{
	margin-left:0 !important;
	margin-right:0 !important;
}
.margin-top-bottom-five{
	margin: 5px 0;
}
.margin-top-bottom-mobile-screen{
	margin:0 5px;
}
.grey {
    position: absolute;
    right: 19px;
    top: 10px;
}
.red {
    position: absolute;
    right: 19px;
    top: 10px;
}
.blue-star{
    position: absolute;
    right: 19px;
    top: 10px;
}
.welcome-footer p, .welcome-footer a {
	text-align: center;
}
.centered-div {
	width: 90%;
}
.body-bg {
	margin-bottom: 90px !important;
}
.work-mode {
	display:block !important;
}
.logout-btn-div{
	display:block !important;
}
.file-management-header h3, .file-management-header p, .reset-div, .file-management-header a, .crew-member-search {
	text-align: center;
}
.file-management-header h3 {
  margin: 0px 0px 10px !important;
}
.home-main-tabs h4{
	text-align:center !important;
}
.home-logo-div {
	text-align: center !important;
}
.home-header-logo {
	float: none !important;
	display: inline-block;
}
.home-work-mode {
	text-align: center !important;
}
.logout-btn-div {
	text-align: center;
}
.home-work-mode{
	padding:0 !important;
}
#calendar {
 float:none !important;
 margin:20px auto !important;
}
.button-row button, .margin-five-top-bottom{
 margin:5px 0px;
}
.panel-logout-btn{
  float:none !important;
  display: inherit;
  margin: 5px auto !important;
  text-align: center;
}
.home-link{
 text-align:center;
}
.sub-address-tab-panel .tab-content, .sub-phone-tab-panel .tab-content {
  border:none !important;
}
.close-program-div{
	text-align:center;
}
.logout-div{
  text-align:center !important;
}

}
@media (max-width : 340px) {
.body-bg {
	margin-bottom: 110px !important;
}
.forgot-password-div{
	min-width:200px !important;
}
}